body {
  background: #f8e8a6;
  text-align: center;
  font-family: "Montserrat", sans-serif;
}

footer {
  display: block;
  text-align: center;
}
footer a {
  color: green;
  margin: 0 10px;
}
.croissant-photo {
  width: 600px;
  border-radius: 10px;
  margin: 20px auto;
}
